h1{
    margin: 1%;
    color: #fff;
    text-align: center;
    font-size: 4.8em;
    font-weight: bold;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}